*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

#progressBar {
    position: fixed;
    top: 0;
    width: 0%;
    height: 10px;
    background: #E2A107;
    transition: width 0.2s ease;
    z-index: 1000;
  }

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
  
  /* Add some content at the bottom of the video/page */
  .content {
    position: absolute;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
  .content2{
    z-index: 100;
    position: absolute;
    color: #E2A107;
    width: 100%;
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    top:18rem;
  }

  #h1sag{
    background-color: rgba(0, 0, 0, .4);
    width: 100;
  }
  
  #sefilmen{
    position: absolute;
    top:34rem;
    left: 44%;
    width: 300px;
    height: 80px;
    font-size: 45px;
    padding: 10px;
    border: none;
    background: #959b8d;
    color: #fff;
    cursor: pointer;
  }

  /* Style the button used to pause/play the video */
  #myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #959b8d;
    color: #fff;
    cursor: pointer;
  }
  
  #myBtn:hover {
    background: #ddd;
    color: black;
  }

  .main-container{
      height: 100vh;
  }


/* =================Scroll content============== */

.scontainer {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
  }
  
  .scroll-container {
    height: 90vh;
    min-height: 450px;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }
  
  .scroll-container:nth-of-type(1) {
    background-color: #bdd0c4;
  }
  .scroll-container:nth-of-type(2) {
    background-color: #f5d2d3;
  }
  
  .scroll-container:nth-of-type(even) {
    flex-direction: row-reverse;
  }
  
  .scroll-element,
  .scroll-caption {
    width: 50%;
  }
  
  .scroll-element {
    min-height: 300px;
    height: 100%;
    background-color: #eaeaea;
  }
  
  .scroll-caption {
    margin: 1rem;
  }

  @media screen and (max-width: 650px) {
    .scroll-container,
    .scroll-container:nth-of-type(even) {
      flex-direction: column;
      align-content: inherit;
    }
  
    .scroll-element {
      height: 100%;
    }
  
    .scroll-element,
    .scroll-caption {
      width: 100%;
    }
  }
  /**Styling scrollable elements*/
  
  .js-scroll {
    opacity: 0;
    transition: opacity 500ms;
  }
  
  .js-scroll.scrolled {
    opacity: 1;
  }
  
  .scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
  }
  
  .scrolled.fade-in-bottom {
    animation: fade-in-bottom 1s ease-in-out both;
  }
  
  .scrolled.slide-left {
    animation: slide-in-left 1s ease-in-out both;
  }
  
  .scrolled.slide-right {
    animation: slide-in-right 1s ease-in-out both;
  }
  
  /* ----------------------------------------------
   * Generated by Animista on 2021-2-11 23:32:31
   * Licensed under FreeBSD License.
   * See http://animista.net/license for more info. 
   * w: http://animista.net, t: @cssanimista
   * ---------------------------------------------- */